{% extends 'base.html.twig' %}

{% block title %}Workshops index{% endblock %}

{% block body %}
    <h1>Workshops index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Schedule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.id }}</td>
                <td>{{ workshop.Name }}</td>
                <td>{{ workshop.Schedule ? workshop.Schedule|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('workshops_show', {'id': workshop.id}) }}">show</a>
                    <a href="{{ path('workshops_edit', {'id': workshop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('workshops_new') }}">Create new</a>
{% endblock %}
