{% extends 'base.html.twig' %}

{% block title %}Holidays{% endblock %}

{% block body %}
    <h1>Holidays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ holiday.id }}</td>
            </tr>
            <tr>
                <th>SignIn</th>
                <td>{{ holiday.signIn }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ holiday.user }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ holiday.date }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_holidays_index') }}">back to list</a>

    <a href="{{ path('app_holidays_edit', {'id': holiday.id}) }}">edit</a>

    {{ include('holidays/_delete_form.html.twig') }}
{% endblock %}
