{% extends 'base.html.twig' %}

{% block title %}SignIn index{% endblock %}

{% block body %}
    <h1>SignIn index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Holidays</th>
                <th>Workshops</th>
                <th>User</th>
                <th>TimeStart</th>
                <th>TimeStop</th>
                <th>TimeFinish</th>
                <th>HourCount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signin in signin %}
            <tr>
                <td>{{ signin.id }}</td>
                <td>{{ signin.holidays }}</td>
                <td>{{ signin.workshops }}</td>
                <td>{{ signin.user }}</td>
                <td>{{ signin.timeStart }}</td>
                <td>{{ signin.timeStop }}</td>
                <td>{{ signin.timeFinish }}</td>
                <td>{{ signin.hourCount }}</td>
                <td>
                    <a href="{{ path('app_signin_show', {'id': signin.id}) }}">show</a>
                    <a href="{{ path('app_signin_edit', {'id': signin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_signin_new') }}">Create new</a>
{% endblock %}
