{% extends 'base.html.twig' %}

{% block title %}SignIn{% endblock %}

{% block body %}
    <h1>SignIn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signin.id }}</td>
            </tr>
            <tr>
                <th>TimeStart</th>
                <td>{{ signin.timeStart }}</td>
            </tr>
            <tr>
                <th>TimeStop</th>
                <td>{{ signin.timeStop }}</td>
            </tr>
            <tr>
                <th>TimeFinish</th>
                <td>{{ signin.timeFinish }}</td>
            </tr>
            <tr>
                <th>HourCount</th>
                <td>{{ signin.hourCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signin_index') }}">back to list</a>

    <a href="{{ path('signin_edit', {'id': signin.id}) }}">edit</a>

    {{ include('signin/_delete_form.html.twig') }}
{% endblock %}
